In [3]:
import yfinance as yf

In [20]:
ticker = "^DJI" #"MSFT"
dat = yf.Ticker(ticker)

In [21]:
dat.info

{'maxAge': 86400,
 'priceHint': 2,
 'previousClose': 40227.59,
 'open': 40234.0,
 'dayLow': 40222.18,
 'dayHigh': 40630.49,
 'regularMarketPreviousClose': 40227.59,
 'regularMarketOpen': 40234.0,
 'regularMarketDayLow': 40222.18,
 'regularMarketDayHigh': 40630.49,
 'volume': 430031312,
 'regularMarketVolume': 430031312,
 'averageVolume': 669735081,
 'averageVolume10days': 601452000,
 'averageDailyVolume10Day': 601452000,
 'bid': 40399.64,
 'ask': 40693.95,
 'bidSize': 0,
 'askSize': 0,
 'fiftyTwoWeekLow': 36611.78,
 'fiftyTwoWeekHigh': 45073.63,
 'fiftyDayAverage': 41581.42,
 'twoHundredDayAverage': 42210.406,
 'currency': 'USD',
 'tradeable': False,
 '52WeekChange': 6.377399,
 'quoteType': 'INDEX',
 'symbol': '^DJI',
 'language': 'en-US',
 'region': 'US',
 'typeDisp': 'Index',
 'quoteSourceName': 'Delayed Quote',
 'triggerable': True,
 'customPriceAlertConfidence': 'HIGH',
 'regularMarketChange': 300.03125,
 'regularMarketDayRange': '40222.18 - 40630.49',
 'fullExchangeName': 'DJI',
 'averageDailyVolume3Month': 669735081,
 'fiftyTwoWeekLowChange': 3915.8398,
 'fiftyTwoWeekLowChangePercent': 0.10695573,
 'fiftyTwoWeekRange': '36611.78 - 45073.63',
 'fiftyTwoWeekHighChange': -4546.008,
 'fiftyTwoWeekHighChangePercent': -0.10085737,
 'fiftyTwoWeekChangePercent': 6.377399,
 'shortName': 'Dow Jones Industrial Average',
 'longName': 'Dow Jones Industrial Average',
 'regularMarketChangePercent': 0.7458345,
 'regularMarketPrice': 40527.62,
 'fiftyDayAverageChange': -1053.8008,
 'fiftyDayAverageChangePercent': -0.025343068,
 'twoHundredDayAverageChange': -1682.7852,
 'twoHundredDayAverageChangePercent': -0.039866596,
 'sourceInterval': 120,
 'exchangeDataDelayedBy': 0,
 'cryptoTradeable': False,
 'hasPrePostMarketData': False,
 'firstTradeDateMilliseconds': 694362600000,
 'marketState': 'POST',
 'corporateActions': [],
 'regularMarketTime': 1745958000,
 'exchange': 'DJI',
 'messageBoardId': 'finmb_INDEXDJI',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EDT',
 'gmtOffSetMilliseconds': -14400000,
 'market': 'us_market',
 'esgPopulated': False,
 'trailingPegRatio': None}

In [22]:
dat.calendar

404 Client Error: Not Found for url: https://query2.finance.yahoo.com/v10/finance/quoteSummary/%5EDJI?modules=calendarEvents&corsDomain=finance.yahoo.com&formatted=false&symbol=%5EDJI&crumb=HZPV98l8eai

{}

In [23]:
dat.analyst_price_targets

404 Client Error: Not Found for url: https://query2.finance.yahoo.com/v10/finance/quoteSummary/%5EDJI?modules=financialData&corsDomain=finance.yahoo.com&formatted=false&symbol=%5EDJI&crumb=HZPV98l8eai

{}

In [24]:
dat.quarterly_income_stmt

Empty DataFrame
Columns: []
Index: []

In [26]:
dat.history(period='max')

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1992-01-02 00:00:00-05:00,3152.100098,3172.629883,3139.310059,3172.399902,23550000,0.0,0.0
1992-01-03 00:00:00-05:00,3172.399902,3210.639893,3165.919922,3201.500000,23620000,0.0,0.0
1992-01-06 00:00:00-05:00,3201.500000,3213.330078,3191.860107,3200.100098,27280000,0.0,0.0
1992-01-07 00:00:00-05:00,3200.100098,3210.199951,3184.479980,3204.800049,25510000,0.0,0.0
1992-01-08 00:00:00-05:00,3204.800049,3229.199951,3185.820068,3203.899902,29040000,0.0,0.0
...,...,...,...,...,...,...,...
2025-04-23 00:00:00-04:00,39815.011719,40376.109375,39487.140625,39606.570312,642550000,0.0,0.0
2025-04-24 00:00:00-04:00,39531.050781,40157.910156,39371.871094,40093.398438,558120000,0.0,0.0
2025-04-25 00:00:00-04:00,40045.730469,40137.308594,39718.679688,40113.500000,559040000,0.0,0.0
2025-04-28 00:00:00-04:00,40171.738281,40414.179688,39869.101562,40227.589844,475930000,0.0,0.0
2025-04-29 00:00:00-04:00,40234.000000,40630.488281,40222.179688,40527.621094,434832268,0.0,0.0

In [19]:
dat.option_chain(dat.options[0]).calls

,contractSymbol,lastTradeDate,strike,lastPrice,bid,ask,change,percentChange,volume,openInterest,impliedVolatility,inTheMoney,contractSize,currency
0,MSFT250502C00230000,2025-04-07 19:34:07+00:00,230.0,129.45,162.25,165.80,0.000000,0.000000,212.0,191,3.036135,True,REGULAR,USD
1,MSFT250502C00240000,2025-04-24 16:28:33+00:00,240.0,144.91,152.05,155.80,0.000000,0.000000,1.0,35,2.829104,True,REGULAR,USD
2,MSFT250502C00250000,2025-04-10 19:26:03+00:00,250.0,133.57,142.15,145.80,0.000000,0.000000,72.0,73,2.629886,True,REGULAR,USD
3,MSFT250502C00275000,2025-04-29 19:07:13+00:00,275.0,119.06,117.20,120.85,6.959999,6.208741,1.0,1,2.172856,True,REGULAR,USD
4,MSFT250502C00280000,2025-04-28 18:42:19+00:00,280.0,113.45,112.15,115.95,2.149994,1.931711,1.0,70,1.046880,True,REGULAR,USD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,MSFT250502C00470000,2025-04-28 19:48:07+00:00,470.0,0.01,0.00,0.66,0.000000,0.000000,20.0,11,0.845216,False,REGULAR,USD
65,MSFT250502C00475000,2025-03-28 16:59:51+00:00,475.0,0.06,0.00,0.00,0.000000,0.000000,2.0,0,0.500005,False,REGULAR,USD
66,MSFT250502C00500000,2025-04-28 15:38:31+00:00,500.0,0.01,0.00,0.01,0.000000,0.000000,1.0,134,0.703128,False,REGULAR,USD
67,MSFT250502C00510000,2025-04-29 19:18:04+00:00,510.0,0.01,0.00,0.01,-0.150000,-93.749990,1.0,0,0.750003,False,REGULAR,USD
68,MSFT250502C00560000,2025-04-28 19:56:34+00:00,560.0,0.01,0.00,0.01,0.000000,0.000000,48.0,60,0.984375,False,REGULAR,USD